.light-theme {
  background-color: white;
  color: black;
}

.dark-theme {
  background-color: black;
  color: white;
}

.App {
  text-align: center;
}


.App button {
  margin-right: 5px;
}

.App div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App p {
  text-align: left;
}

.App span {
  margin: 0 10px;
}
